name: CI
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
permissions: read-all
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true
jobs:
  compatibility:
    name: Check Dependency Compatibility
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    permissions:
      checks: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
      - name: Install Nix
        uses: DeterminateSystems/determinate-nix-action@1d699fc25db3f9e079cd2f168ca007a4183389be # v3.15.1
        with:
          logger: pretty
      - name: Cache
        uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13
      - name: Install devenv.sh
        run: nix profile install nixpkgs#devenv
      - name: Check Compatibility
        run: devenv shell compatibility-check
  build_web:
    name: Build Web
    runs-on: ubuntu-latest
    needs: compatibility
    environment:
      name: build
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
      - name: Cache .web
        uses: actions/cache@v5.0.1
        with:
          path: .web
          key: ${{ runner.os }}-reflex-${{ hashFiles('**/uv.lock') }}
          restore-keys: ${{ runner.os }}-reflex-
      - name: Install Nix
        uses: DeterminateSystems/determinate-nix-action@1d699fc25db3f9e079cd2f168ca007a4183389be # v3.15.1
        with:
          logger: pretty
      - name: Cache
        uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13
      - name: Install devenv.sh
        run: nix profile install nixpkgs#devenv
      - name: Test
        run: devenv test
      - name: Build Web
        run: devenv shell build-web
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: .web/build/client/
  deploy_web:
    name: Deploy Web
    runs-on: ubuntu-latest
    needs: build_web
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    if: github.event_name != 'pull_request'
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
