name: CI
on:
  workflow_dispatch:
  push:
    branches:
      - main
permissions: read-all
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true
jobs:
  compatibility:
    name: Check Dependency Compatibility
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    permissions:
      checks: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
      - name: Install uv
        uses: astral-sh/setup-uv@v7.0.0
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
          activate-environment: true
      - name: Install the project
        run: uv sync --frozen --no-install-project
  build_web:
    name: Build Web
    runs-on: ubuntu-latest
    needs: compatibility
    environment:
      name: build
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
      - name: Cache .web
        uses: actions/cache@v5.0.1
        with:
          path: .web
          key: ${{ runner.os }}-reflex-${{ hashFiles('**/uv.lock') }}
          restore-keys: ${{ runner.os }}-reflex-
      - name: Install uv
        uses: astral-sh/setup-uv@v7.0.0
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
          activate-environment: true
      - name: Install Dependencies
        run: uv sync --frozen
      - name: Build
        run: uv run reflex export --frontend-only --no-zip --env prod
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: .web/build/client/
  deploy_web:
    name: Deploy Web
    runs-on: ubuntu-latest
    needs: build_web
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
